@model MVC_İngilizce_Website.Models.Entity.UygulamaTablosu
@{
    ViewBag.Title = "UygulamaGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
        <br />
        <br />
        <h1>
            Welcome To The Update Page
        </h1>
        <br />
        @using (Html.BeginForm("Guncelle", "Uygulama", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("ID")
                @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
                <br />
                @Html.Label("Verbs")
                @Html.TextBoxFor(m => m.Fiil, new { @class = "form-control" })
                <br />
                @Html.Label("Sentences")
                @Html.TextBoxFor(m => m.Cumleler, new { @class = "form-control" })
                <br />
                <br />
                <button class="btn btn-warning">Update</button>
            </div>
        }
</div>

